
.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
  opacity: 0.9;
}
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 10px;
  }
   .navbar .nav-item .nav-link {
    color: #252525;
   }
.navbar .nav-item .nav-link:hover{
  color: #3292a6;
}
  .navbar .nav-item:last-child {
    padding-right: 0;
  }
